<div *ngIf="residence">
  <h2>{{ residence.name }}</h2>
  <p>{{ residence.address }}</p>
  <img [src]="residence.image" alt="{{ residence.name }}" />
  <p>Status: {{ residence.status }}</p>
  <p>Price: {{ residence.price }} TND</p>
  <p>Size: {{ residence.size }} sqm</p>
  <p>Bedrooms: {{ residence.bedrooms }}</p>
  <p>Bathrooms: {{ residence.bathrooms }}</p>
</div>

<!-- Lien pour ajouter un appartement avec l'ID de la résidence -->
<a [routerLink]="['/apartments/add-apartment', residence.id]" class="btn btn-info btn-sm mt-2">
  Add Apartment
</a>



<app-apartments-by-residence [residenceId]="residence.id"></app-apartments-by-residence>
